<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.html">

    <title>ByzoroAC</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />
  </head>
  <body>
  	
  	<section id="container" class="">
		<!--header start-->
		<header class="header white-bg">
		      <div class="sidebar-toggle-box">
		          <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
		      </div>
		      <!--logo start-->
		      <a href="#" class="logo">Byzoro <span> Access-Control</span></a>
		      <!--logo end-->
		      <div class="nav notify-row" id="top_menu">
		          <!--  notification start -->
		          <ul class="nav top-menu">
		              <!-- notification dropdown start-->
		              <li id="header_notification_bar" class="dropdown">
		                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
		
		                      <i class="icon-bell-alt"></i>
		                      <span class="badge bg-warning">1</span>
		                  </a>
		                  <ul class="dropdown-menu extended notification">
		                      <div class="notify-arrow notify-arrow-yellow"></div>
		                      <li>
		                          <p class="yellow">You have 7 new notifications</p>
		                      </li>
		                      <li>
		                          <a href="#">
		                              <span class="label label-danger"><i class="icon-bolt"></i></span>
		                              Server #3 overloaded.
		                              <span class="small italic">34 mins</span>
		                          </a>
		                      </li>
		                      <li>
		                          <a href="#">
		                              <span class="label label-warning"><i class="icon-bell"></i></span>
		                              Server #10 not respoding.
		                              <span class="small italic">1 Hours</span>
		                          </a>
		                      </li>
		                      <li>
		                          <a href="#">
		                              <span class="label label-danger"><i class="icon-bolt"></i></span>
		                              Database overloaded 24%.
		                              <span class="small italic">4 hrs</span>
		                          </a>
		                      </li>
		                      <li>
		                          <a href="#">
		                              <span class="label label-success"><i class="icon-plus"></i></span>
		                              New user registered.
		                              <span class="small italic">Just now</span>
		                          </a>
		                      </li>
		                      <li>
		                          <a href="#">
		                              <span class="label label-info"><i class="icon-bullhorn"></i></span>
		                              Application error.
		                              <span class="small italic">10 mins</span>
		                          </a>
		                      </li>
		                      <li>
		                          <a href="#">See all notifications</a>
		                      </li>
		                  </ul>
		              </li>
		              <!-- notification dropdown end -->
		          </ul>
		          <!--  notification end -->
		      </div>
		      <div class="top-nav ">
		          <!--search & user info start-->
		          <ul class="nav pull-right top-menu">
		              <!-- user login dropdown start-->
		              <li class="dropdown">
		                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
		                      <img alt="" src="img/avatar1_small.jpg">
		                      <span class="username">admin</span>
		                      <b class="caret"></b>
		                  </a>
		                  <ul class="dropdown-menu extended logout">
		                      <div class="log-arrow-up"></div>
		                      <li><a href="#"><i class=" icon-suitcase"></i>Profile</a></li>
		                      <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
		                      <li><a href="#"><i class="icon-bell-alt"></i> Notification</a></li>
		                      <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
		                  </ul>
		              </li>
		              <!-- user login dropdown end -->
		          </ul>
		          <!--search & user info end-->
		      </div>
		  </header>
		<!--header end-->
		
		<!--sidebar start-->
		<aside>
		    <div id="sidebar"  class="nav-collapse ">
		        <!-- sidebar menu start-->
		        <ul class="sidebar-menu">
		            <li class="">
		                <a class="" href="index.html">
		                    <i class="icon-dashboard"></i>
		                    <span>概述</span>
		                </a>
		            </li>
		            <li class="sub-menu">
		                <a href="javascript:;" class="">
		                    <i class="icon-book"></i>
		                    <span>信息统计</span>
		                    <span class="arrow"></span>
		                </a>
		                <ul class="sub">
		                    <li><a class="" href="charts.html">AP信息</a></li>
		                    <li class="active"><a class="" href="users.html">用户信息</a></li>
		                </ul>
		            </li>
		            <li class="sub-menu">
		                <a href="javascript:;" class="">
		                    <i class="icon-cogs"></i>
		                    <span>设备管理</span>
		                    <span class="arrow open"></span>
		                </a>
		                <ul class="sub" style="overflow: hidden; display: block;">
		                    <li><a class="" href="groups.html">群组管理</a></li>
		                    <li><a class="" href="devices.html">AP管理</a></li>
		                    <li><a class="" href="wlans.html">无线管理</a></li>
							<li><a class="" href="leds.html">灯光管理</a></li>
							<li class="active"><a class="" href="policys.html">接入策略</a></li>
							<li><a class="" href="lists.html">黑白名单</a></li>
		                </ul>
		            </li>
		            <li class="sub-menu">
		                <a href="javascript:;" class="">
		                    <i class="icon-tasks"></i>
		                    <span>系统管理</span>
		                    <span class="arrow"></span>
		                </a>
		                <ul class="sub">
		                    <li><a class="" href="info.html">状态信息</a></li>
		                    <li><a class="" href="setting.html">系统设置</a></li>
		                    <li><a class="" href="notify.html">通知消息</a></li>	
		                </ul>
		            </li>
		            <li>
		                <a class="" href="account.html">
		                    <i class="icon-user"></i>
		                    <span>账户管理</span>
		                </a>
		            </li>
		        </ul>
		        <!-- sidebar menu end-->
		    </div>
		</aside>
		<!--sidebar end-->
	</section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>    <!-- header_notification_bar class切换 -->

    <!--common script for all pages-->
    <script src="js/common-scripts.js"></script> <!-- sidebar 子标签显示 -->

    <!--script for this page-->
    <script src="js/sparkline-chart.js"></script>
    <script src="js/easy-pie-chart.js"></script>

  </body>
  </html>